/* HEADER  */

@media(min-width:1024px) {
    header .name h1 {
        font-size: 5rem;
    }

    header .name {
        padding: 50px 0;
    }

    header .welcome {
        padding: 40px 0;
    }

    header .welcome button {
        padding: 15px 30px;
        border: 4px solid #eee;
        font-size: 3.6rem;
    }
}

/* BURGER MENU  */

@media (min-width:1024px) {
    .burger {
        top: 1%;
        right: 1%;
        width: 60px;
        height: 60px;
    }

    .burger i {
        line-height: 60px;
    }
}

/* NAV */

@media (min-width:1024px) {
    nav,
    nav.active {
        padding: 15px 0;
    }   

    nav a {
        font-size: 4rem;
    }
}

/* PIERWSZA SEKCJA */

@media (min-width:1024px) {

    section.aboutMe h2 {
        font-size: 5.5rem;
    }

    section.aboutMe .infoAboutMe .photo {
        width: 100px;
        height: 100px;
        box-shadow: 0 0 3px 3px #eee;
    }

    section.aboutMe .infoAboutMe .text p {
        font-size: 3rem;
    }
}

/* DRUGA SEKCJA  */

@media (min-width:1024px) {
    section.skills h2 {
        font-size: 5.5rem;
    }

    section.skills .all-skills {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    section.skills .all-skills :nth-child(1),
    section.skills .all-skills :nth-of-type(2) {
        flex-direction: column;
        width: 45%;
        margin: 0 0 5% 0;
    }

    section.skills .all-skills .js,
    section.skills .all-skills .sass {
        flex-direction: column;
        width: 45%;
    }

    section.skills .all-skills .react,
    section.skills .all-skills .github {
        flex-direction: column;
        width: 45%;
        margin: 5% 0 0 0;
    }

    section.skills .all-skills p {
        font-size: 3rem;
    }
}

/* TRZECIA SEKCJA  */

@media (min-width:1024px) {
    section.quotes h2 {
        font-size: 5.5rem;
    }

    section.quotes .firstQuot p,
    section.quotes .secondQuot p,
    section.quotes .thirdQuot p {
        font-size: 4.4rem;
    }
}

/* CZWARTA SEKCJA  */

@media (min-width:1024px) {
    section.projects h2 {
        font-size: 5.5rem;

    }

    section.projects .all-projects .project1 h3,
    section.projects .all-projects .project2 h3,
    section.projects .all-projects .project3 h3 {
        font-size: 4.2rem;
    }

    section.projects .all-projects .project1 p,
    section.projects .all-projects .project2 p,
    section.projects .all-projects .project3 p {
        font-size: 3rem;
    }
}

/* FOOTER  */

@media (min-width:1024px) {
    footer .contact {
        padding: 2% 0;
    }

    footer h2 {
        font-size: 4.2rem;
    }

    footer .contact .mail h3,
    footer .contact .github h3 {
        font-size: 3.5rem;
    }

    footer .contact .mail i,
    footer .contact .github i {
        font-size: 6.5rem;
    }

    footer .contact .mail p,
    footer .contact .github p {
        font-size: 2.8rem;
    }

    footer p.footer {
        font-size: 2.5rem;
    }
}